.footer {
  position: relative;
  padding: 64px;
  background: hsl(0deg, 0%, 5%);
  color: white;
  text-align: center;
}

a {
  color: white;
}

@media (max-width: 1034px) {
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
